 

    *{
        color: chocolate;
        ont-size: 20px;
    text-decoration: underline;
    }

h1{
color: green !important;
      
      text-align: center  
}
    
      
     body{
        background-color: lightblue;    
     }
        